<aside class="w-64 fixed left-0 top-0 h-full bg-[#18181d] shadow-xl">
    <div class="w-64 h-screen fixed top-0 left-0 glass border-r border-white/10 p-6">

     <h1 class="text-2xl font-bold text-white mb-10 tracking-wide"><img src="" alt="Logo"
           class="w-20 h-20 object-cover rounded-full shadow-md">Online <span class="text-blue-400">Library</span>
    </h1>

    <nav class="mt-4 space-y-2 px-4">

        <a href=""
           class="block px-3 py-2 rounded hover:bg-gray-700">
           🏠 Dashboard
        </a>

        <a href=""
            class="block px-3 py-2 rounded hover:bg-gray-700">
            📚 Kelola Buku
        </a>

        <a href="" 
            class="block px-3 py-2 rounded hover:bg-gray-700">
            👥 Kelola Anggota
        </a>

        <a href=""
             class="block px-3 py-2 rounded hover:bg-gray-700">
            📄 Data Peminjaman
        </a>

        <a href=""
            class="block px-3 py-2 rounded hover:bg-gray-700">
            👤 Profil Saya
        </a>

    </nav>
</aside>
